In [1]:
import yfinance as yf

In [2]:
# define the ticker symbol
tickersymbol = 'MSFT'    # Microsft

In [3]:
# get the data on this ticker
tickerData = yf.Ticker(tickersymbol)

In [4]:
# get the historical price for this ticker

data = tickerData.history(period='1d', start='2011-4-1', end='2021-9-28')

### Period : the frequenc at which to gathr the data; common option would include '1d' (daily), '1mo'(monthly), '1y'(yearly)

### start: the date to start gathering the data
### end: the date to end gathering the data.

In [6]:
data.tail(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-08-30,301.119995,304.220001,301.059998,303.589996,16348100,0.0,0
2021-08-31,304.420013,304.500000,301.500000,301.880005,26285300,0.0,0
2021-09-01,302.869995,305.190002,301.489990,301.829987,18983800,0.0,0
2021-09-02,302.200012,303.359985,300.179993,301.149994,16285600,0.0,0
2021-09-03,300.989990,302.600006,300.260010,301.140015,14747900,0.0,0
2021-09-07,301.010010,301.089996,298.200012,300.179993,17180400,0.0,0
2021-09-08,299.779999,300.609985,297.470001,300.209991,15046800,0.0,0
2021-09-09,300.820007,302.140015,297.000000,297.250000,19927000,0.0,0
2021-09-10,298.420013,299.920013,295.380005,295.709991,19619400,0.0,0
2021-09-13,297.549988,298.540009,294.079987,296.989990,23652900,0.0,0
2021-09-14,299.559998,301.390015,298.100006,299.790009,21853400,0.0,0
2021-09-15,303.260010,305.320007,301.820007,304.820007,28356300,0.0,0
2021-09-16,303.760010,305.309998,300.760010,305.220001,19550800,0.0,0
2021-09-17,304.170013,304.500000,299.529999,299.869995,41309300,0.0,0
2021-09-20,296.329987,298.720001,289.519989,294.299988,38278700,0.0,0
2021-09-21,295.690002,297.540009,294.070007,294.799988,22364100,0.0,0
2021-09-22,296.730011,300.220001,294.510010,298.579987,26626300,0.0,0
2021-09-23,298.850006,300.899994,297.529999,299.559998,18604600,0.0,0
2021-09-24,298.230011,299.799988,296.929993,299.350006,14994200,0.0,0
2021-09-27,296.140015,296.470001,292.940002,294.170013,23571700,0.0,0